/*!*******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*******************************************************************************************************************************************************************************/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#src-root___a1yii {
  height: 100%;
  width: 100%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 monospace; }

/*!*********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/normalize.css/normalize.css ***!
  \*********************************************************************************************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  -webkit-text-decoration: underline;
  text-decoration: underline;
  /* 2 */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/index.scss ***!
  \*************************************************************************************************************************************************************************************************/
.src-components-Header-header___L6vga {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0px 60px;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 2px;
  background-color: #f0f0f0;
  color: #1d1d57; }

.src-components-Header-title___KOGx9 {
  margin: auto 0;
  width: auto;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }

.src-components-Header-btnContainer___IKBYg {
  flex-grow: 1;
  height: -moz-min-content;
  height: min-content;
  margin: auto 20px auto 30px; }
  .src-components-Header-btnContainer___IKBYg > span {
    margin: auto 20px; }

.src-components-Header-btn___Oex_G {
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  font-weight: 700;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px 10px;
  background-color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer; }
  .src-components-Header-btn___Oex_G:hover {
    background-color: #e0e0e0;
    color: #21214d; }

.src-components-Header-dropdownMenu___enZ0N {
  position: relative; }
  .src-components-Header-dropdownMenu___enZ0N:hover .src-components-Header-dropdownContent___RAeR_ {
    display: block; }

.src-components-Header-dropdownContent___RAeR_ {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: -moz-min-content;
  width: min-content;
  text-wrap: nowrap;
  background-color: #e5e5e5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: display 0.1s linear;
  z-index: 999; }
  .src-components-Header-dropdownContent___RAeR_ > div {
    width: auto;
    font-weight: 600;
    padding: 5px 10px;
    border-width: 1px 0;
    padding: 5px 17px;
    background-color: inherit;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none; }
    .src-components-Header-dropdownContent___RAeR_ > div:hover {
      background-color: #d2d2d2; }

/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/App.scss ***!
  \*****************************************************************************************************************************************************************************/
.src-main___ScykI {
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100% - 60px); }

/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Card/index.scss ***!
  \***********************************************************************************************************************************************************************************************/
.src-components-Card-cardContainer___lFeKI {
  flex: 1 1;
  position: relative;
  display: flex;
  height: 100%; }
  .src-components-Card-cardContainer___lFeKI:hover .src-components-Card-toolContainer___UW5_K > img {
    visibility: visible; }

.src-components-Card-sideCard___FZq5a {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1; }
  .src-components-Card-sideCard___FZq5a:hover .src-components-Card-insertBtn___uohgi {
    display: block; }

.src-components-Card-insertBtn___uohgi {
  position: absolute;
  display: none;
  width: 30px;
  height: auto;
  top: 40%;
  z-index: 999;
  cursor: pointer; }

.src-components-Card-insertBtnR___i7kSz {
  left: 100%;
  transform: translateX(-100%); }

.src-components-Card-toolContainer___UW5_K {
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-start;
  padding-top: 120px;
  flex-direction: column; }
  .src-components-Card-toolContainer___UW5_K > img {
    visibility: hidden;
    margin: 15px auto;
    width: 25px;
    cursor: pointer; }
  @media (min-width: 2559px) {
    .src-components-Card-toolContainer___UW5_K > img {
      margin: 25px auto;
      width: 50px; } }

.src-components-Card-regulator___KSLqL {
  display: block;
  width: 100%; }
  .src-components-Card-regulator___KSLqL > div {
    width: -moz-min-content;
    width: min-content;
    cursor: pointer; }
  .src-components-Card-regulator___KSLqL > label {
    font-size: 16px; }

.src-components-Card-hexText___EJdFd {
  margin: 15px auto 10px;
  font-size: 24px; }
  @media (min-width: 2559px) {
    .src-components-Card-hexText___EJdFd {
      margin: 25px auto 20px;
      font-size: 48px; } }

.src-components-Card-rgbText___J8jsW {
  margin: 10px auto;
  font-size: 16px; }
  @media (min-width: 2559px) {
    .src-components-Card-rgbText___J8jsW {
      margin: 20px auto;
      font-size: 32px; } }

.src-components-Card-hexInput___QWBxm {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text; }

.src-components-Card-sliderContent___Yl21e {
  width: 100%; }

.src-components-Card-slider___ccc_4 {
  width: 100%; }

/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/tooltip.scss ***!
  \********************************************************************************************************************************************************************************************/
.src-components-tooltip___DECGJ {
  position: relative; }
  .src-components-tooltip___DECGJ:hover .src-components-topTip___s40ao, .src-components-tooltip___DECGJ:hover .src-components-bottomTip___X0JbY {
    visibility: visible; }

.src-components-topTip___s40ao {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(127, 127, 127, 0.7);
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px;
  transform: translateX(-50%);
  transition: opacity 0.3s; }

.src-components-bottomTip___X0JbY {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(127, 127, 127, 0.7);
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px;
  transform: translateX(-50%);
  transition: opacity 0.3s; }

