@import "@/assets/commons.module.scss";

$transDuration: 120ms;

.dropdownMenu, .selectMenu {
  position: relative;
  // shape
  height: auto;
  width: fit-content;
  box-sizing: border-box;
  border: 0;
  border-radius: $radius-md;
  // style
  transition: border-radius $transDuration;
  cursor: pointer;
}

.dropdownMenu {
  .menuTitle {
    justify-content: center;
  }
}

.selectMenu {
  width: 100%;
  color: $color5;
  background-color: $color1;
  &:hover {
    background-color: $color2;
  }
  .menuTitle {
    >div {
      flex: 1 1 0;
      padding: 8px 0 8px 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .triangle {
    margin-right: 4px;
    float: right;
  }
}

.active {
  >.selectMenu, >.dropdownMenu {
    @include small {
      >.menuTitle {
        padding-bottom: 5px;
        transition: padding-bottom $transDuration ease-in-out;
      }
    }
  }
  >.selectMenu {
    background-color: $color2;
  }
  >.menuTitle {
    border-radius: $radius-md $radius-md 0 0;
    >.triangle {
      transform: rotate(180deg);
      animation: rotation-in $transDuration 1 linear;
    }
  }
}


// dropdown menu title
.menuTitle {
  display: flex;
  align-items: center;
  // shape;
  width: 100%;
  border: none;
  border-radius: $radius-md;
  padding: 0;
  // style
  background-color: inherit;
  text-align: start;
  font-size: var(--font-body);
  font-weight: 600;
  transition: padding-bottom $transDuration ease-in-out;
  .triangle {
    animation: rotation-out $transDuration 1 linear;
    flex: 0 0;
  }
}

.triangle {
  margin-left: 2px;
  vertical-align: top;
}

%contentWrapper {
  // position
  position: absolute;
  top: 100%;
  z-index: 1;
  // shape
  min-width: 100%;
  max-height: 0;
  border-radius: $radius-md;
  overflow: hidden;
  
  background-color: $color1;
  box-sizing: border-box;
  transition: max-height $transDuration ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  @include small {
    box-shadow: none;
  }
}
.contentWrapper {
  @extend %contentWrapper;
  width: max-content;
}

.mobileContentWrapper {
  @extend %contentWrapper;
  width: 100vw;
  left: auto !important;
  right: 0 !important;
}

.menuContent {
  width: 100%;
  height: 100%;
  overflow: auto;

  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  box-sizing: border-box;
  >li {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 5px 10px;
    border-width: 1px 0;
    background-color: $color1;
    text-align: center;
    text-wrap: nowrap;
    box-sizing: border-box;
    &:hover {
      background-color: $color3;
    }
    >:global(.icon) {
      position: absolute;
      transform: translateX(-100%);
      z-index: 10;
    }
  }
}
