@import "@/assets/commons.module.scss";

.settingDialog {
  // position
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // shape
  height: 400px;
  width: 320px;
  border-radius: $radius-lg;
  overflow: hidden;
}

$header-height: 34px;
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  background-color: $color5;
  >h5 {
    // shape
    padding: 0px 10px 0px;
    margin: 0;
    // color and text
    color: $color2;
    text-align: center;
    font-size: var(--font-subheading);
    font-weight: $boldWeight;

    user-select: none;
  }
  >:global(.icon) {
    margin: 6px;
    // shape
    height: 13px;
    padding: 4px;
    border-radius: $radius-lg;

    filter: invert(1);
    &:hover {
      filter: none;
      background-color: $color3;
    }
  }
}

.menubar {
  display: inline-flex;
  flex: 1 1 auto;
  height: 25px;
  width: 100%;
  
  user-select: none;
  background-color: $color2;
  >div {
    border-radius: $radius-sm $radius-sm 0 0;
    padding: 5px 10px;

    font-size: var(--font-sm);
    cursor: pointer;
    &:hover {
      background-color: $color1;
    }
  }
}

%optionLayout {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(25px, 1fr));
  grid-template-columns: 85px 1fr;
  row-gap: 10px;
  column-gap: 5px;
  justify-items: flex-start;
  align-items: center;
}

.content {
  // layout
  @extend %optionLayout;
  overflow-y: auto;
  // position
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  // shape
  height: 341px;
  width: 100%;
  padding: 3px 20px 10px;
  box-sizing: border-box;

  background-color: $color1;
  >label, >div, >input {
    max-height: min-content;
    font-size: var(--font-body);
  }
  >h6 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    font-size: var(--font-subheading);
  }
  >label {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  >div { // custom <Select>
    grid-column-start: 2;
    grid-column-end: 3;
  }
  >input {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: $radius-sm;
    box-sizing: border-box;
    width: 100%;
  }
}

.subOption {
  // position
  &label {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &*:not(label) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  // shape
  width: 100%;

  font-size: var(--font-sm);
}

.buttons {
  // position
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 3;
  // shape
  height: 100%;
  width: 100%;
  >button {
    display: block;
    margin: 0 0 0 20px;
    float: right;
    // shape
    border: none;
    padding: 3px 12px;
    border-radius: $radius-md;
    box-sizing: border-box;

    font-weight: $normalWeight;
    cursor: pointer;
    user-select: none;
  }
}

.applyBtn {
  color: $color1;
  background-color: $color5;
  &:hover {
    background-color: $color4;
  }
}

.resetBtn {
  color: $color5;
  background-color: $color2;
  &:hover {
    background-color: $color3;
  }
}
