.cardContainer{
  flex: 1 1;
  position: relative;
  display: flex;
  height: 100%;
  // border-right-style: solid;
  // border-right-color: #fff;
  // border-right-width: 1px;
  // border-left-style: solid;
  // border-left-color: #fff;
  // border-left-width: 1px;
  // border-collapse: collapse;

  &:hover .toolContainer >img {
    visibility: visible;
  }
}

.sideCard{
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;

  &:hover .insertBtn{
    display: block;
  }
}

.insertBtn {
  position: absolute;
  display: none;
  width: 30px;
  height: auto;
  top: 40%;
  z-index: 999;
  cursor: pointer;
}

.insertBtnR {
  left: 100%;
  transform: translateX(-100%);
}

.toolContainer{
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-start;
  padding-top: 120px;
  flex-direction: column;
  >img {
    visibility: hidden;
    margin: 15px auto;
    width: 25px;
    cursor: pointer;
  }

  @media (min-width: 2559px) {
    >img{
      margin: 25px auto;
      width: 50px;
    }
  }
}

.regulator {
  display: block;
  width: 100%;
  >div {
    width: min-content;
    cursor: pointer;
  }

  >label {
    font-size: 16px;
  }
}

.hexText{
  margin: 15px auto 10px;
  font-size: 24px;
  @media (min-width: 2559px) {
    margin: 25px auto 20px;
    font-size: 48px;
  }
}

.rgbText{
  margin: 10px auto;
  font-size: 16px;
  @media (min-width: 2559px) {
    margin: 20px auto;
    font-size: 32px;
  }
}

.hexInput{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  user-select: text;
}

.sliderContent {
  width: 100%;
}
.slider {
  width: 100%;
}
