@import "../commons.scss";

.cardContainer {
  position: relative;
  flex: 1 1 auto;
  display: flex;

  &:hover .toolContainer :global(.icon) {
    visibility: visible;
  }
  &:hover .sideCard :global(.icon) {
    display: block;
  }

  @include small {
    align-items: center;
  }
}

.toolContainer {
  @extend %horizontalCenter;
  bottom: 37%;
  :global(.icon) {
    visibility: hidden;
    display: block;
    margin: 27px auto;
    height: 27px;
  }
  @include desktop {
    bottom: 38%;
    :global(.icon) {
      margin: 48px auto;
      height: 40px;
    }
  }
  @include laptop {
    margin-bottom: 25px;
    :global(.icon) {
      margin: 20px auto 0;
      height: 20px;
    }
  }
  @include small {
    position: static;
    display: inline;
    width: max-content;
    margin-left: 50px;
    transform: none;
    :global(.icon) {
      visibility: visible;
      display: inline;
      height: 20px;
      margin: auto 10px;
    }
  }
}

.textDisplay {
  @extend %horizontalCenter;
  top: 63%;
  width: 50%;
  text-align: center;
  >div {
    cursor: pointer;
    :global(.icon) {
      opacity: 0;
    }
    &:hover :global(.icon) {
      opacity: 1;
    }
  }

  @include small {
    position: relative;
    display: block;
    top: auto;
    left: auto;
    transform: none;
    margin-left: 30px;
  }
}

$hexSize: 20px;
$rgbSize: 12px;
$hexSize1024: 18px;
$rgbSize1024: 12px;
$hexSize2560: 39px;
$rgbSize2560: 19px;

%textPosition {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: min-content;
  :global(.icon) {
    position: absolute;
    top: 50%;
  }
}
@mixin textSize($iconHeight, $iconMargin, $fontSize: 16px) {
  font-size: $fontSize;
  :global(.icon) {
    height: $iconHeight;
    transform: translateX(calc(-100% - #{$iconMargin})) translateY(-50%);
  }
}

.hexText {
  @extend %textPosition;
  @include textSize($hexSize - 4px, 3px, $hexSize);

  @include desktop {
    @include textSize(25px, 6px, $hexSize2560);
  }
  @include laptop {
    @include textSize(16px, 4px, $hexSize1024);
  }
  @include small {
    @include textSize(16px, 4px, $hexSize1024);
  }
}

.rgbText {
  @extend %textPosition;
  @include textSize(10px, 2px, $rgbSize);
  margin-top: 4px;

  @include desktop {
    @include textSize(13px, 4px, $rgbSize2560);
  }
  @include laptop {
    @include textSize(9px, 3px, $rgbSize1024);
  }
  @include small {
    @include textSize(9px, 3px, $rgbSize1024);
  }
}

.editing {
  @extend %horizontalCenter;
  position: absolute;
  top: 63%;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $color1;
  box-sizing: border-box;
  z-index: 1;
  >div {
    height: 25px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 7px;
  }
}

.hexInput {
  display: inline;
  font-size: $hexSize;
  width: 100%;
  border-radius: 7px;
  padding: 0px 8px;
  margin: 0 auto 15px;
  box-sizing: border-box;
  cursor: text;
  user-select: text;

  @include desktop {
    font-size: $hexSize;
  }
  @include laptop {
    font-size: $hexSize1024;
  }
  @include small {
    width: 110px;
    margin: 0;
    bottom: auto;
    font-size: $hexSize1024;
  }
}

.sliders {
  font-size: $rgbSize;
  >input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  @include desktop {
    font-size: 25px;
  }
  @include laptop {
    font-size: 11px;
  }
  @include small {
    display: inline-block;
    height: min-content;
  }
}
