@import "@/assets/commons.scss";

.header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--headerHeight);
  padding: 0 30px 0 60px;
  box-sizing: border-box;
  background-color: $color2;
  user-select: none;

  @include small {
    padding: 0 0 0 15px;
    justify-content: space-between;
  }
}

$titleFontSize: 24px;
.title {
  font-size: $titleFontSize;
  font-weight: 900;
  color: $color5;
  margin: 0;
  @include small {
    font-size: 20px;
  }
}

.menubar {
  flex: 1 0 auto;
  display: table;
  color: $color5;
  margin: auto 0 auto 20px;

  @include small {
    flex: 0 0 var(--headerHeight);
    position: relative;
    height: 100%;
    margin: 0;
    float: right;
    background-color: $color3;
  }
}

.btn {
  float: left;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: inherit;
  cursor: pointer;
  :global(.icon) {
    margin-left: 0;
    margin-right: 3px;
    height: 20px;
    vertical-align: bottom;
  }
  &:hover, &:focus {
    background-color: $color1;
  }
  @include small {
    position: relative;
    min-height: 30px;
    width: 100%;
    padding: 7px 0;
    box-sizing: border-box;
    &:hover, &:focus {
      background-color: $color3;
    }
  }
}

.btnR {
  float: right;
  margin: 0;
}
