@import "../commons.scss";

:root{
  --headerHeight: 60px;
  @media only screen and (max-width: $smallSize) {
    --headerHeight: 40px;
  }
}
.header {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--headerHeight);
  padding: 0 50px 0 80px;
  box-sizing: border-box;
  background-color: $color2;
  user-select: none;

  @media only screen and (max-width: $smallSize) {
    display: block;
    height: 40px;
    padding: 0;
  }
}

$titleFontSize: 24px;
.title {
  font-size: $titleFontSize;
  font-weight: 900;
  color: $color5;
  @media only screen and (max-width: $smallSize) {
    position: absolute;
    width: max-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.menubar {
  flex: 1 1 auto;
  display: table;
  align-content: center;
  color: $color5;
  margin: auto 10px auto 20px;

  @media only screen and (max-width: $smallSize) {
    background-color: $color3;
    display: block;
    position: relative;
    float: right;
    margin: 0;
    height: 40px;
  }
}

.btn {
  float: left;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: inherit;
  cursor: pointer;
  :global(.icon) {
    margin-left: 0;
    margin-right: 3px;
    height: 20px;
    vertical-align: bottom;
  }
  &:hover, &:focus {
    background-color: $color1;
  }
  @media only screen and (max-width: $smallSize) {
    position: relative;
    min-height: 30px;
    width: 100%;
    padding: 5px 0 0;
    box-sizing: border-box;
    &:hover, &:focus {
      background-color: $color3;
    }
  }
}

.btnR {
  float: right;
  margin: 0;
}
