.dropdownMenu, .popupMenu {
  position: relative;
  cursor: default;
}

.dropdownMenu:hover .menuContent {
  display: block;
}

%menuContent {
  display: none;
  position: absolute;
  top: 100%;
  width: min-content;
  text-wrap: nowrap;
  background-color: #e5e5e5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: opacity .2s ease;
  z-index: 999;
  cursor: pointer;

  >* {
    font-weight: 600;
    padding: 5px 10px;
    border-width: 1px 0;
    padding: 5px 17px;
    background-color: inherit;
    text-align: center;
    &:hover {
      background-color: #d2d2d2;
    }
  }

}

.menuContent {
  @extend %menuContent;
  left: 50%;
  transform: translateX(-50%);
}

.menuContentL {
  left: 0;
  right: auto;
  transform: none;
}

.menuContentR {
  left: auto;
  right: 0;
  transform: none;
}

