@import "@/assets/commons.module.scss";

// Containers
.favOffcanvas {
  position: fixed;
  display: inline;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 300px;
  background-color: $color2;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  @include mobile {
    width: 100vw;
  }
}

// Side
$menubarHeight: 45px; 
$appendPltHeight: 30px;
.menuBar {
  position: relative;
  display: flex;
  height: $menubarHeight;
  padding: 0 5px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background-color: $color2;
  user-select: none;
  >* {
    border-radius: $radius-lg;
    &:hover {
      background-color: $color1;
    }
  }
  >:global(.icon) {
    height: 13px;
    filter: invert(1);
  }
  >span {
    width: min-content;
    margin: auto 3px auto 0;
    padding: 3px 7px;
    cursor: pointer;
  }
  :global(.icon) {
    @extend %verticalCenter;
    right: 8px;
    padding: 4px;
    filter: none;
  }
}
// Menubar button that be clicked/focused.
.focusButton {
  background-color: $color1;
}

// Main bookmarks content.
.pageContent {
  height: calc(100% - #{$menubarHeight} - #{$appendPltHeight});
  overflow-y: auto;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.delWrapper { // Remove favorite button
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: auto;
  right: 0;
  background-color: #0007;
  user-select: none;
  >:global(.icon) {
    @extend %center;
    height: 13px;
    filter: invert(1);
  }
}

%favBlock {
  // Shape
  position: relative;
  border-radius: $radius-lg;
  margin: 5px;
  list-style-type: none;
  overflow: hidden;

  &:hover .delWrapper {
    opacity: 1;
  }
}

.colorBlock {
  @extend %favBlock;
  height: 40px;
  >div {
    font-size: var(--font-sm);
    font-weight: 500;
    // position
    @extend %verticalCenter;
    left: 8px;
    display: table-cell;
    vertical-align: middle;

    cursor: pointer;
    >:global(.icon) {
      height: var(--font-sm);
      margin-right: 3px;
      opacity: 0;
    }
  }
  &:hover :global(.icon) {
    opacity: 1;
  }
}

.paletteBlock {
  @extend %favBlock;
  height: min-content;
  div:first-child {
    position: relative;
    height: 35px;
  }
  &:hover .caretWrapper {
    opacity: 1;
  }
  div:last-child {
    background-color: #fff;
    font-weight: 600;
    padding: 3px 0 3px 7px;
    margin-top: 1px;
    cursor: pointer;
  }
}

.caretWrapper {
  position: absolute;
  display: table-cell;
  height: 100%;
  width: fit-content;
  background-color: #0007;
  vertical-align: middle;
  opacity: 0;
  cursor: pointer;
  :global(.icon) {
    height: 20px;
    filter: invert(1);
  }
}

$paddingTop: calc((#{$appendPltHeight} - var(--font-body)) / 2 - 2px);
.appendPlt {
  display: block;
  border-top: 1px solid black;
  background-color: $color2;
  height: $appendPltHeight;
  width: 100%;
  padding-top: $paddingTop;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  >:global(.icon) {
    margin-right: 3px;
    height: calc(var(--font-body) + 3px);
    vertical-align: text-bottom;
  }
}
