@import "@/assets/commons.module.scss";

.cardContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: none solid;
  border-color: transparent;
  box-sizing: border-box;
  transition-property: left, width, background-color;
  transition-duration: 0s;
  &:hover .toolContainer {
    display: block;
  }
  &.first {
    border-left: none !important;
  }
  &.last {
    border-right: none !important;
  }
  @include small {
    display: flex;
    align-items: center;
    border-style: solid none;
    transition-property: top, height, background-color;
    &.first {
      border-top: none !important;
    }
    &.last {
      border-bottom: none !important;
    }
  }
}

.toolContainer {
  @extend %horizontalCenter;
  display: none;
  bottom: 37%;
  user-select: none;
  :global(.icon) {
    display: block;
    margin: 27px auto;
    height: 27px;
  }
  @include desktop {
    bottom: 38%;
    :global(.icon) {
      margin: 48px auto;
      height: 40px;
    }
  }
  @include laptop {
    margin-bottom: 25px;
    :global(.icon) {
      margin: 20px auto 0;
      height: 20px;
    }
  }
  @include small {
    flex: 1 0 240px; // Total icon width + margin
    display: block;
    position: static;
    margin-bottom: 0;
    margin-left: 20px;
    transform: none;
    :global(.icon) {
      display: inline;
      height: 20px;
      margin: 5px 10px;
    }
  }
  @include mobile {
    flex: 0 0 111px;
    :global(.icon) {
      height: 17px;
      margin: 5px 10px;
    }
  }
}

.textDisplay {
  @extend %horizontalCenter;
  top: 63%;
  width: 50%;
  text-align: center;
  >div {
    cursor: pointer;
    :global(.icon) {
      opacity: 0;
    }
    &:hover :global(.icon) {
      opacity: 1;
    }
  }

  @include small {
    flex: 1 1 auto;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

%textPosition {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  :global(.icon) {
    position: absolute;
    top: 50%;
  }
}
@mixin textSize($iconHeight, $iconMargin, $fontSize) {
  font-size: $fontSize;
  :global(.icon) {
    height: $iconHeight;
    transform: translate(calc(-100% - #{$iconMargin}), -50%);
  }
}

.hexText {
  @extend %textPosition;
  @include textSize(var(--font-subheading) - 4px, 4px, var(--font-subheading));
}

.detailText {
  @extend %textPosition;
  @include textSize(calc(var(--font-sm) - 3px), 3px, var(--font-sm));
  margin-top: 4px;
  text-wrap: nowrap;
}

.editor {
  // position
  @extend %horizontalCenter;
  top: 63%;
  z-index: 999;
  // shape
  width: 150px;
  padding: 5px 10px;
  border-radius: $radius-lg;
  box-sizing: border-box;

  background-color: $color1;
  >* {
    width: 100%;
  }
  >div:first-of-type {
    height: 10px;
    border-radius: $radius-lg;
    margin-bottom: 7px;
  }
  @include small {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    max-width: 500px;;
    >div:first-of-type {
      height: 30px;
      margin-bottom: 10px;
    }
  }
}

.nameSelectTitle {
  width: 100%;
}

.nameSelectContent {
  >menu {
    padding: 8px 0;
  }
  button {
    width: 100%;
    text-align: start !important;
    text-overflow: ellipsis;
    >span {
      display: inline-block;
      height: 12px;
      margin-right: 4px;
      aspect-ratio: 1 / 1;
      outline: 1px solid black;
    }
  }
}

.hexInput {
  display: inline;
  border-radius: $radius-md;
  border-width: 1px;
  padding: 0px 8px;
  margin: 0 auto 10px;
  box-sizing: border-box;
  font-size: var(--font-subheading);
  user-select: text;
  cursor: text;

  @include small {
    margin: 0 auto 7px;
    bottom: auto;
  }
}

.sliderContainer {
  display: inline-block;
  font-size: var(--font-sm);
  >div {
    width: 100%;
    margin-bottom: 5px;
  }
}
