// Small vieport
$view-sm: 900px;

%verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
%horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotation-out {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// media
@mixin desktop {
  @media only screen and (min-width: 1960px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (max-width: 1440px) {
    @content;
  }
}
@mixin small {
  @media only screen and (max-width: $view-sm) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 426px){
    @content;
  }
}

// Font weighht
$normalWeight: 600;
$boldWeight: 800;

// Border-radius
$radius-xl: 15px;
$radius-lg: 10px;
$radius-md: 7px;
$radius-sm: 5px;

:root{
  --font-sm: 12px;
  --font-body: 14px;
  --font-subheading: 18px;
  --font-heading: 25px;
  --header-height: 60px;
  @include desktop {
    --font-sm: 14px;
    --font-subheading: 20px;
  }
  @include small {
    --font-subheading: 16px;
    --font-heading: 20px;
    --header-height: 40px;
  }
}

:global(.spacer) {
  flex: 1;
}

// Color scheme
$color1: #FAFAFA;
$color2: #EAEAEA;
$color3: #C0C0C0;
$color4: #707070;
$color5: #1D1D57;

:export {
  smallSize: $view-sm;
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
}
