@import "./components/commons.scss";

.main {
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;

  @media only screen and (max-width: $smallSize) {
    flex-direction: column;
    height: calc(100% - 40px);
  }
}

.insertContainer {
  position: absolute;
  height: 100%;
  width: 70px;
  transform: translateX(-50%);
  >div {
    @extend %center;
    display: none;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffffd0;
    cursor: pointer;
  }
  :global(.icon) {
    height: 100%;
  }
  &:hover >div {
    display: block;
  }
  
  @include small {
    height: 35px;
    width: 100%;
    transform: translateY(-50%);
    >div {
      display: block;
      height: 13px;
      padding: 7px;
      border-radius: 10px;
      background-color: #fff;
      opacity: 0.6;
      :global(.icon) {
        transform: rotate(90deg);
      }
    }
    &:focus >div {
      opacity: 1;
    }
  }
  @include mobile {
    height: 30px;
    >div {
      padding: 7px;
      :global(.icon) {
        transform: rotate(90deg);
      }
    }
  }
}

.dragging {
  position: relative;
  box-shadow: 0px 0px 20px black;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #fff;
  transform: translateX(-50%);
  z-index: 1;

  @include small {
    border-width: 1px 0px;
    transform: translateY(-50%);
  }
}
